# Github copilot configurations
github-copilot/

# WSDL confgurations
wslu/

# node and npm
configstore/

# fish history and variables
fish_history
fish_variables

# fzf_key_bindings is symlinked by fzf installation
fzf_key_bindings.fish
